@font-face {
  /* source: http://www.fontsquirrel.com/fonts/kaushan-script */
  font-family: 'KaushanScriptRegular';
  src: url('../fonts/KaushanScript-Regular-webfont.eot');
  src: url('../fonts/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KaushanScript-Regular-webfont.woff') format('woff'),
       url('../fonts/KaushanScript-Regular-webfont.ttf') format('truetype'),
       url('../fonts/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Contact form
 */

#contact-form {
  background: #b9aa2e; /* Old browsers */
  background: -moz-linear-gradient(top,  #b9aa2e 0%, #d6d054 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9aa2e), color-stop(100%,#d6d054)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b9aa2e 0%,#d6d054 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b9aa2e 0%,#d6d054 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b9aa2e 0%,#d6d054 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b9aa2e 0%,#d6d054 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9aa2e', endColorstr='#d6d054',GradientType=0 ); /* IE6-9 */

  border: 1px solid #f1da36;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75), inset 0 0 3px 4px #444417;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75), inset 0 0 3px 4px #444417;
  box-shadow: 0 1px 5px rgba(0,0,0,0.75), inset 0 0 3px 4px #444417;

  width: 267px;
  right: 66px;
  top: 20px;
  padding: 21px;
  padding-left: 16px;
  position: absolute;
  z-index: 9999;
}
#contact-form #close {
  width: 23px;
  height: 21px;
  background: url('../gfx/box-close.png');
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: block;
  position: absolute;
}
#contact-form h1 {
  color: black;
  font-family: 'KaushanScriptRegular';
  font-size: 26px;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  margin-left: -0.134em; /* correct for font letter drift */
}
#contact-form h2 {
  color: black;
  font: 14px/1.5 Arial,sans-serif;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.6em;
}
#contact-form label {
  color: black;
  font-size: 14px;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  font-size: 12px;
  margin-bottom: 2px;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 98%;
  border: 1px solid #CEE1E8;
  margin-bottom: 5px;
  padding: 4px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  border: 1px solid #AFCDD8;
  background-color: #EBF2F4;
}
#contact-form textarea {
  height: 91px;
  resize: none;
}
#contact-form label {
  display:block;
}
#contact-form #submit {
  width: 100px;
  height: 23px;
  background-color: #4B6C76;
  color: #FFF;
  border: none;
  display: block;
  margin-bottom: 0;
  margin-right: 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#contact-form #submit:hover {
  background-color: #5F8793;
}
#contact-form #submit:active {
  position: relative;
  top: 1px;
}
#contact-form #submit.error {
  color: white;
  background-color: red;
}
#contact-form #success {
  text-align: center;
  display: none;
}
#contact-form #success #text {
  color: black;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
#contact-form #success img {
  margin-top: 0.6em;
  display: inline-block;
}
#contact-form input:required,
#contact-form textarea:required {
  /* let required fields go incognito */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#contact-form ::-webkit-input-placeholder {
  color: #CCC;
  font-style: italic;
}
#contact-form ::-moz-placeholder { /* Firefox 4-18 */
  color: #CCC;
  font-style: italic;
}
#contact-form :-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
  font-style: italic;
}
#contact-form :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #CCC;
  font-style: italic;
}